.jumbo{
   background-image: url("../assets/jumbo-home.png");
   justify-content: center;
   padding-top: 10%;
   padding-bottom: 10%;
   text-align: center;
   color: white;
   background-position: center;
   background-size: cover;
   opacity: 85%;
   z-index: -1 ;
}

.jumbo-text{
   background-color: rgba(1, 9, 20, 0.8);
}