.jumbo{
   background-image: url("../assets/jumbohome.png");
   justify-content: center;
   padding-top: 10%;
   padding-bottom: 10%;
   text-align: center;
   background-position: center;
   background-size: 90vw;
   opacity: 85%;
   z-index: -1 ;
}

.jumbo-text{
   background-color: rgba(1, 9, 20, 0.8);
   color: white;
   font-size: 1.7vw;
}

.jumbo-notice{
   background-color: rgba(1, 9, 20, 0.8);
   font-size: 1vw;
   color: white;
}