.layout-element {
    padding-top: 80px;
    width: 100%;
}

.section-heading {
    color: #ee6c4d;
    padding-bottom: 2%;
    font-size: 3vw;
}


.emailIcon{
    width: 10%;
    height: 10%;
    margin-left: 20%;
  
}

.horizontal-flexbox{
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
.horizontal-flexbox-child{
    padding: 10px;
}

