.layout-element {
    padding-top: 80px;
}

.section-heading {
    color: #ee6c4d;
}

.githubLogo{
    width: 15%;
    height: 10%;
}

.linkedinLogo{
    width: 20%;
    height: 10%;
    margin-left: 20%;

}

.emailIcon{
    width: 10%;
    height: 10%;
    margin-left: 20%;
  
}

.horizontal-flexbox{
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
.horizontal-flexbox-child{
    padding: 10px;
}

.awn-logo {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 35%;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    padding: 2px 16px;

  }