.layout-element {
    padding-top: 80px;
}

.section-heading {
    color: #ee6c4d;
}

.githubLogo{
    width: 15%;
    height: 10%;
}

.linkedinLogo{
    width: 20%;
    height: 10%;
    margin-left: 20%;

}

.emailIcon{
    width: 10%;
    height: 10%;
    margin-left: 20%;
  
}

.horizontal-flexbox{
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}
.horizontal-flexbox-child{
    padding: 5px;
}