.list{ 
    color: black; 
    background: white;
    padding-top: 1%; 
    padding-bottom: 1%;
    width: 100%;
} 


.li-abt{ 
    list-style: none; 
    margin-top: 2%;
    font-size: 1.25vw;
} 


.li-abt::before{ 
    content: "\276F"; 
    color: #ee6c4d;
    padding-right: 1%;
}   


.about-horizontal-flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .aboutme-heading {
    font-size: 1.5vw;
}


.wloo-img{
      width: 10vw;
      position: absolute;
      right: 13%;
      margin-top: 13%;
  }

.myPic-img{
    border-radius: 50%;
    width: 10vw;
    position: absolute;
    right: 13%;

}

.backend-img{
    border-radius: 20%;
    width: 10vw;
    position: absolute;
    right: 13%;
    margin-top: 5%;     
}
