.list{ 
    color: black; 
    background: white;
    padding-top: 1%; 
    padding-bottom: 1%;
} 


.li-abt{ 
    list-style: none; 
    margin-top: 2%;
    font-size: 1.25vw;
} 


.li-abt::before{ 
    content: "\276F"; 
    color: #ee6c4d;
    padding-right: 1%;
}   


.about-horizontal-flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .wloo-img{
      width: 12vw;
      height: 22vh;
      position: absolute;
      right: 13%;
      margin-top: 13%;
  }

  /*12, 22*/

  .myPic-img{
    border-radius: 50%;
    width: 12vw;
    height: 22vh;
    position: absolute;
    right: 13%;

}
/*12%, 22%*/



.backend-img{
    border-radius: 20%;
    width: 15vw;
    height: 25vh;
    position: absolute;
    right: 11%;
    margin-top: 5%;     
}

.aboutme-heading {
    font-size: 1.5vw;
}