.list{ 
    color: black; 
    background: white;
    padding-top: 1%; 
    padding-bottom: 1%;
} 


.li-abt{ 
    list-style: none; 
    margin-top: 2%;
} 


.li-abt::before{ 
    content: "\276F"; 
    color: #ee6c4d;
    padding-right: 1%;
}   