.flip-card {
    background-color: transparent;
    width: 90%;
    height: 95%;
    perspective: 50%;
    padding: 1%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    padding: 10%;
    transform: rotateY(180deg);
    text-align: left;
  }

  .projects-horizontal-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .date-badge {
    background-color: #293241;
    color: white;

  }

  .htn-img{
    width: 20vw;
    height: 20vw;
    padding: 5%;
  }

  .jumbo-img{
    width: 17vw;
    height: 17vw;
    padding: 5%;
    padding-top: 10%;
  }

.city-tracker-image{
  width: 20vw;
  height: 15vw;
  padding: 10%;
  margin-top: 1w;
}

.kafka-image{
  width: 20vw;
  height: 10vw;
  padding: 10%;
  margin-top: 2vw;
}

.web-crawler-image {
  padding: 10%;
  width: 17vw;
  height: 17vw;
}

.nh-img{
  width: 18vw;
  height: 18vw;
  padding: 10%
}
.hackathon-badge{
  background-color: #293241;
  color: white;
  font-size: 1vw;
}

.project-badge{
  background-color: #28a745;
  color: white;
  font-size: 1vw;
}

.course-badge{
  background-color: #17a2b8;
  color: white;
  font-size: 1vw;
}
.tech-badge {
  background-color: #52b788;
  color: black;
  margin-right: 4px;
}

.project-button {
  font-size: 1.25vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.btnDiv{
  text-align: center;
}

p{
   line-height: 1.5;
   font-size: 1.25vw;
}

h4{
   font-size: 1.75vw;
}

.projects-container{
  display: grid;
  grid-template-columns: 22vw 22vw 22vw;
  grid-template-rows: 30vw 30vw;
  column-gap: 1%;
  row-gap: 2%;
  align-content: center;
  align-self: center;
  justify-self: center;
  width: 100%;
}

/*first row*/
.cell-a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.cell-b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.cell-c {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*second row*/
.cell-d {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.cell-e {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.cell-f {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}