.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    padding: 10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    padding: 10%;
    transform: rotateY(180deg);
    text-align: left;
  }

  .projects-horizontal-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .container {
    padding: 2px 16px;

  }
  .date-badge {
    background-color: #293241;
    color: white;

  }
.project-images {
  width: 75%;
  height: 75%;
  padding: 5%;
}

.city-tracker-image{
  margin-top: 20px;
  width: 90%;
  height: 60%;
  padding: 5%;
}

.kafka-image{
  width: 100%;
  height: 50%;
  padding: 10%;
  margin-top: 20px;
}

.web-crawler-image {
  padding: 5%;
  width: 60%;
  height: 60%;
}

.hackathon-badge{
  background-color: #293241;
  color: white;
}

.project-badge{
  background-color: #28a745;
  color: white;
}

.course-badge{
  background-color: #17a2b8;
  color: white;
}
.tech-badge {
  background-color: #52b788;
  color: black;
  margin-right: 4px;
}

.project-button {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.btnDiv{
  text-align: center;
}