.awn-logo {
    width: 90%;
    align-self: center;
    padding: 10px;
}

.manulife-logo {
    width: 80%;
    align-self: center;
}
.novx-logo {
    width: 80%;
    align-self: center;
    padding: 40px;
}
.coreavi-logo {
    width: 75%;
    align-self: center;
    padding: 30px;
}

.logo-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width: 75%;
  }
  
  
.logo-card-awn {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 40%;
  height: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    padding: 2px 16px;

  }

  .date-badge {
    background-color: #293241;
    color: white;
    font-size: 1.25vw;
  }

  .work-horizontal-flexbox {
    display: flex;
    flex-direction: row;
  }

  .work-overview {
  }

  .work-details {
    padding-left: 2.5%;
    padding-right: 2,5%;
  }

  .work-subsection-heading {
    font-size: 1.5vw;
  }

  .tech-badge {
    background-color: #52b788;
    font-size: 1vw;
  }
  .title-badge{
    background-color: #a8dadc;
    color: black;
    font-size: 1vw;
  }
  .work-accordian{
    width: 100%;
  
  }

  .accordian-card{
    background-color: #3d5a80;
    color: white;
  }
  
  .title-heading{
    margin-left: 2.5%;
  }

  .work-name{
    font-size: 1.5vw;
  }

  h4{
    font-size: 2vw;
  }

  p{
    font-size: 1.25vw;
  }